<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Check Patient In - NHS Glasgow</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <img src="images/banner.jpg" title="Banner" class="banner" width="1152" height="136">
</header>
<main>
    <h1>Patient Checked In</h1>
    <p th:text="'Name: ' + ${checkin.name}" />
    <p th:text="'Injury: ' + ${checkin.injuryDesc}" />
    <p th:text="'Urgency Level: ' + ${checkin.urgencyLevel}" />
    <a href="/staffmenu">Continue</a>
</main>
</body>
</html>