<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu - NHS Glasgow</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <img src="images/banner.jpg" title="Banner" class="banner" width="1152" height="136">
        </header>
        <main>
            <h1>Menu</h1>
            <a class="staffLogOutLink" href="stafflogin">Log Out</a><br>
            <a class="button" id="checkInLink" href="checkin">Check Patient In</a><br>
            <a class="button" id="checkOutLink" href="checkout">Check Patient Out</a>
        </main>
    </body>
</html>